.column {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.card {
    text-align: center;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link a {
    width: 100%;
}

.logo {
    height: 200px;
    width: auto !important;
    margin: 0 auto;
    padding-top: 15px;
}