.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.input {
    background-color: #12121a;
    border-color: #7f6fd1;
}

.input input {
    background-color: inherit;
}

.buttons {
    margin: 20px auto 10px;
    text-align: center;
}

.button {
    margin-left: 20px;
    border-color: #7f6fd1;
}
