.layout {
    min-height: 100vh;
}

.header {
    background-color: #262631;
    padding: 0;
}

.content {
    padding: 30px 15px;
}

.footer {
    text-align: center;
    background-color: #262631;
}
